body {
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 300px 1fr;
}

#operate {
	grid-row: 2/3;
	grid-column: 1/2;
	margin: 0 auto;
}

#operate > *{
	margin: 20px 0;
}

#curveFormula {
	text-align: center;
}

#display {
	grid-row: 2/3;
	grid-column: 2/3;
}
#display > * {
	margin-bottom: 60px;
}

.graph {
	background-color: #fedcbd;
}
.graph > *{
	position: absolute;
}
